body {
    background: #ffffff;
}

#smlogo {
    display: none;
}

#homepage {
    padding-top: 0;
}

header img {
    max-height: 48px;
    max-width: 48px;
}

header a,
header a:link,
header a:visited {
    text-decoration: none;
    background: inherit;
    color: inherit;
}

nav.sidebar {
    z-index: 10;
    position: absolute;
    top: 4rem;
    left: 65%;
    width: 35%;
}

nav.sidebar ul {
    font-family: chainprinter, sans-serif;
    color: #ea5b0b;
    font-size: 2rem;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 15%;
}

nav.inline {
    display: none;
}

nav.pagenav ul {
    font-family: chainprinter, sans-serif;
    color: #ea5b0b;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

nav.pagenav li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav.pagenav li + li::before {
    content: " / ";
    color: #312783;
}

#mainlogo {
    width: 75%;
    max-width: 75%;
    max-height: 100%;
}

article {
    padding-top: 1rem;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

ol,
ul {
    width: 55%;
}

li p {
    width: 100%;
}

li p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.moreicon {
    vertical-align: super;
    color: #ea5b0b;
    font-family: sans-serif;
    border: solid 1px #ea5b0b;
    padding: 1px;
    font-size: 50%;
}

@media (max-width: 760px) {
    nav.sidebar {
        display: none;
    }

    nav.inline {
        display: block;
    }

    nav.inline ul {
        font-family: chainprinter, sans-serif;
        color: #ea5b0b;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    nav.inline li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    nav.inline li + li::before {
        content: " / ";
        color: #312783;
    }

    article {
        margin-top: 0;
    }

    #smlogo {
        display: inline-block;
        max-height: 1em;
        max-width: 1em;
        padding-right: 0.25rem;
    }

    ol,
    ul {
        width: 100%;
    }
}

@media (max-width: 600px) {
    nav.sidebar {
        display: none;
    }

    nav.inline {
        display: block;
    }

    nav.inline ul {
        font-family: chainprinter, sans-serif;
        color: #ea5b0b;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav.inline li {
        display: list-item;
    }

    nav.inline li::before,
    nav.inline li + li::before {
        content: "• ";
        color: #312783;
    }

    nav.pagenav ul {
        list-style: none;
    }

    nav.pagenav li {
        display: list-item;
    }

    nav.pagenav li::before,
    nav.pagenav li + li::before {
        content: "• ";
        color: #312783;
    }
}

a:link { text-decoration: none;
         background: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #ffffff, -0.03em 0 #ffffff, 0 0.03em #ffffff, 0 -0.03em #ffffff, 0.06em 0 #ffffff, -0.06em 0 #ffffff, 0.09em 0 #ffffff, -0.09em 0 #ffffff, 0.12em 0 #ffffff, -0.12em 0 #ffffff, 0.15em 0 #ffffff, -0.15em 0 #ffffff;
         background-position: 0% 93%, 100% 93%, 0% 93%; }
